* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-color: aquamarine;
  min-width: 400px;
  font-size: 1.2rem;
}

.header-main,
#survey-form {
  margin: 0 auto;
}

.header-main {
  text-align: center;
}

#survey-form {
  border: solid red 2px;
  max-width: max-content;
}

label {
  display: block;
  border: solid 2px greenyellow;
}
